<h1>Register!</h1>

<div class="center">


  <%= bootstrap_form_for :user, url: '/register' do |f| %>

    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>

  <% end %>
</div>